*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}
*, *::before, *::after{
    box-sizing: border-box;
}
button, input, select, option, textarea{
    border: 0;
    background-color: rgba(0,0,0,0);
    font-family: "Zen Maru Gothic", serif;
    font-weight: 600;
    font-style: normal;
}
img{
    display: block;
    max-width: 100%;
}
button{
    cursor: pointer;
}